{
  "plugins": [
    "@babel/proposal-class-properties"  ],
  "presets": [[
    "@babel/env",
    {
      "corejs": 3,
      "useBuiltIns": "entry",
      "debug": true,
      "modules": false,
      "targets": [
        "last 2 ie versions",
        "last 2 firefox versions"
      ]
    }
    ],
     "@babel/react"]
}
